In [38]:
import pandas as pd
import numpy as np
import re

In [39]:
df = pd.read_csv("D:/city_market_tracker.tsv000", delimiter="\t")

In [40]:
df.head(10)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2014-11-01,2014-11-30,30,place,6,36081,f,"Village of Oak Creek (Big Park), AZ",Village of Oak Creek (Big Park),Arizona,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Prescott Valley, AZ",39150,2023-09-10 14:22:34
1,2022-10-01,2022-10-31,30,place,6,23175,f,"Greenville, RI",Greenville,Rhode Island,...,-0.045455,0.076923,-0.256410,-0.153846,0.000000,-0.555556,-0.200000,"Providence, RI",39300,2023-09-10 14:22:34
2,2018-07-01,2018-07-31,30,place,6,31364,f,"Advance, NC",Advance,North Carolina,...,NaN,0.250000,-0.250000,NaN,NaN,NaN,NaN,"Winston-Salem, NC",49180,2023-09-10 14:22:34
3,2020-03-01,2020-03-31,30,place,6,19369,f,"Town Creek, AL",Town Creek,Alabama,...,0.000000,0.166667,0.095238,-0.100000,0.500000,0.500000,NaN,"Decatur, AL",19460,2023-09-10 14:22:34
4,2019-11-01,2019-11-30,30,place,6,14179,f,"Palm Valley, TX",Palm Valley,Texas,...,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,"Brownsville, TX",15180,2023-09-10 14:22:34
5,2021-03-01,2021-03-31,30,place,6,20494,f,"White, GA",White,Georgia,...,0.000000,NaN,NaN,NaN,1.000000,NaN,NaN,"Atlanta, GA",12060,2023-09-10 14:22:34
6,2022-11-01,2022-11-30,30,place,6,9097,f,"Idalou, TX",Idalou,Texas,...,0.000000,0.200000,NaN,NaN,NaN,NaN,NaN,"Lubbock, TX",31180,2023-09-10 14:22:34
7,2015-01-01,2015-01-31,30,place,6,34594,f,"Polonia, WI",Polonia,Wisconsin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Stevens Point, WI",44620,2023-09-10 14:22:34
8,2019-08-01,2019-08-31,30,place,6,1903,f,"Boca Raton, FL",Boca Raton,Florida,...,-0.025926,0.181818,0.010390,-0.020017,0.074074,-0.054131,-0.089191,"West Palm Beach, FL",48424,2023-09-10 14:22:34
9,2018-08-01,2018-08-31,30,place,6,19459,f,"Tucson, AZ",Tucson,Arizona,...,0.011763,0.220994,0.001925,0.002435,0.120344,0.010552,0.029133,"Tucson, AZ",46060,2023-09-10 14:22:34

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4951858 entries, 0 to 4951857
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            object
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(42), int64(5), object(11)
memory usage: 2.1+ GB

In [42]:
# Change types of date columns

df['period_begin'] = pd.to_datetime(df['period_begin'])
df['period_end'] = pd.to_datetime(df['period_end'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4951858 entries, 0 to 4951857
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    datetime64[ns]
 1   period_end                      datetime64[ns]
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            object
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: datetime64[ns](2), float64(42), int64(5), object(9)
memory usage: 2.1+ GB

In [43]:
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2014-11-01,2014-11-30,30,place,6,36081,f,"Village of Oak Creek (Big Park), AZ",Village of Oak Creek (Big Park),Arizona,...,0.000000,NaN,NaN,NaN,0.0,0.000000,0.0,"Prescott Valley, AZ",39150,2023-09-10 14:22:34
1,2022-10-01,2022-10-31,30,place,6,23175,f,"Greenville, RI",Greenville,Rhode Island,...,-0.045455,0.076923,-0.256410,-0.153846,0.0,-0.555556,-0.2,"Providence, RI",39300,2023-09-10 14:22:34
2,2018-07-01,2018-07-31,30,place,6,31364,f,"Advance, NC",Advance,North Carolina,...,NaN,0.250000,-0.250000,NaN,NaN,NaN,NaN,"Winston-Salem, NC",49180,2023-09-10 14:22:34
3,2020-03-01,2020-03-31,30,place,6,19369,f,"Town Creek, AL",Town Creek,Alabama,...,0.000000,0.166667,0.095238,-0.100000,0.5,0.500000,NaN,"Decatur, AL",19460,2023-09-10 14:22:34
4,2019-11-01,2019-11-30,30,place,6,14179,f,"Palm Valley, TX",Palm Valley,Texas,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,"Brownsville, TX",15180,2023-09-10 14:22:34

In [44]:
df['property_type']

0          Single Family Residential
1          Single Family Residential
2                          Townhouse
3                    All Residential
4                    All Residential
                     ...
4951853                    Townhouse
4951854                    Townhouse
4951855                  Condo/Co-op
4951856                    Townhouse
4951857                    Townhouse
Name: property_type, Length: 4951858, dtype: object

In [45]:
df['year'] = df['period_begin'].dt.year
df['month'] = df['period_begin'].dt.month
df['year'].unique()

array([2014, 2022, 2018, 2020, 2019, 2021, 2015, 2016, 2012, 2017, 2023,
       2013])

In [46]:
# lets look at only a subset of the year from 2016 to 2023
df_select = df[df['year'] > 2015]
df_select.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3467800 entries, 1 to 4951857
Data columns (total 60 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    datetime64[ns]
 1   period_end                      datetime64[ns]
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            object
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
 58  year                            int32
 59  month                           int32
dtypes: datetime64[ns](2), float64(42), int32(2), int64(5), object(9)
memory usage: 1.6+ GB

In [47]:
columns_to_keep = ['year', 'month', 'city', 'state', 'homes_sold', 'property_type', 'median_ppsf','median_sale_price', 'median_list_price', 'median_list_ppsf', 'pending_sales','new_listings','inventory','price_drops','off_market_in_two_weeks']
df_trimmed = df_select[columns_to_keep]

In [48]:
df_trimmed.head()

,year,month,city,state,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks
1,2022,10,Greenville,Rhode Island,11.0,Single Family Residential,233.569588,362500.0,314900.0,251.332360,5.0,3.0,13.0,0.076923,0.0
2,2018,7,Advance,North Carolina,1.0,Townhouse,50.516224,137000.0,173450.0,92.932642,NaN,2.0,4.0,0.250000,NaN
3,2020,3,Town Creek,Alabama,3.0,All Residential,47.026699,117500.0,118950.0,79.469686,4.0,2.0,12.0,0.166667,0.5
4,2019,11,Palm Valley,Texas,1.0,All Residential,75.163399,138000.0,129900.0,99.136578,1.0,3.0,15.0,NaN,0.0
5,2021,3,White,Georgia,1.0,Condo/Co-op,115.495669,240000.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0

In [49]:
df_trimmed.sort_values(['month', 'year','state','city'], ascending=[True,True,True,True])

,year,month,city,state,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks
3961744,2016,1,Adamsville,Alabama,6.0,All Residential,41.403285,67500.0,59000.0,35.920000,1.0,7.0,40.0,0.200000,0.000000
4891243,2016,1,Adamsville,Alabama,6.0,Single Family Residential,41.403285,67500.0,59000.0,35.920000,1.0,7.0,40.0,0.200000,0.000000
2065703,2016,1,Alabaster,Alabama,36.0,Single Family Residential,85.470942,158500.0,164900.0,94.214655,29.0,49.0,171.0,0.152047,0.172414
2071311,2016,1,Alabaster,Alabama,36.0,All Residential,85.470942,158500.0,164900.0,94.214655,30.0,51.0,180.0,0.155556,0.166667
3862926,2016,1,Albertville,Alabama,10.0,Single Family Residential,50.203428,89217.5,86000.0,65.933099,4.0,19.0,82.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711389,2022,12,Wrightstown,Wisconsin,1.0,Single Family Residential,162.776413,530000.0,960000.0,138.228942,1.0,1.0,7.0,0.142857,0.000000
1197611,2022,12,Wrightstown,Wisconsin,1.0,Multi-Family (2-4 Unit),45.391061,130000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967450,2022,12,Wrightstown,Wisconsin,1.0,Townhouse,112.330199,215000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468917,2022,12,Yorksville,Wisconsin,1.0,All Residential,255.754476,600000.0,NaN,NaN,1.0,NaN,7.0,NaN,0.000000
4002335,2022,12,Yorksville,Wisconsin,1.0,Single Family Residential,255.754476,600000.0,NaN,NaN,1.0,NaN,6.0,NaN,0.000000

In [50]:
df_no_all = df_trimmed[df_trimmed['property_type'] != 'All Residential'].reset_index(drop=True)
# df_no_all['city'] = df_no_all['city'].str.replace(r'St\. ', 'Saint ', regex=True)
df_no_all.head()

,year,month,city,state,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks
0,2022,10,Greenville,Rhode Island,11.0,Single Family Residential,233.569588,362500.0,314900.0,251.332360,5.0,3.0,13.0,0.076923,0.000000
1,2018,7,Advance,North Carolina,1.0,Townhouse,50.516224,137000.0,173450.0,92.932642,NaN,2.0,4.0,0.250000,NaN
2,2021,3,White,Georgia,1.0,Condo/Co-op,115.495669,240000.0,NaN,NaN,1.0,NaN,NaN,NaN,1.000000
3,2019,8,Boca Raton,Florida,45.0,Townhouse,169.263837,280000.0,386244.0,211.693381,27.0,56.0,198.0,0.181818,0.074074
4,2018,2,South Gate Ridge,Florida,2.0,Townhouse,103.444242,171000.0,220000.0,156.018830,NaN,3.0,3.0,0.333333,NaN

In [51]:
df_no_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2138870 entries, 0 to 2138869
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   year                     int32
 1   month                    int32
 2   city                     object
 3   state                    object
 4   homes_sold               float64
 5   property_type            object
 6   median_ppsf              float64
 7   median_sale_price        float64
 8   median_list_price        float64
 9   median_list_ppsf         float64
 10  pending_sales            float64
 11  new_listings             float64
 12  inventory                float64
 13  price_drops              float64
 14  off_market_in_two_weeks  float64
dtypes: float64(10), int32(2), object(3)
memory usage: 228.5+ MB

In [52]:
def change_town(name):
    name = re.sub(r"St\. ", "Saint ", name.strip())
    a = re.search(r"(.*?) (Town|City|Village|Prairie|Beach)", name)
    b = re.search(r"Town Of (.*)", name)
    if a:
        return a.group(1).strip()
    elif b:
        return b.group(1).strip()
    else:
        return name

df_no_all['city'] = df_no_all['city'].str.lower().str.title().str.strip()
df_no_all['city_2'] = df_no_all['city'].apply(change_town)
df_no_all['state'] = df_no_all['state'].str.lower().str.title().str.strip()

In [53]:
city = pd.read_csv('cleaned/city.csv')
city = city[['city_id', 'city', 'state']]

In [54]:
merge_1 = pd.merge(left=city, right=df_no_all, how='right', on=['city', 'state'])
merge_1

,city_id,city,state,year,month,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks,city_2
0,4422.0,Greenville,Rhode Island,2022,10,11.0,Single Family Residential,233.569588,362500.0,314900.0,251.332360,5.0,3.0,13.0,0.076923,0.000000,Greenville
1,12828.0,Advance,North Carolina,2018,7,1.0,Townhouse,50.516224,137000.0,173450.0,92.932642,NaN,2.0,4.0,0.250000,NaN,Advance
2,15884.0,White,Georgia,2021,3,1.0,Condo/Co-op,115.495669,240000.0,NaN,NaN,1.0,NaN,NaN,NaN,1.000000,White
3,496.0,Boca Raton,Florida,2019,8,45.0,Townhouse,169.263837,280000.0,386244.0,211.693381,27.0,56.0,198.0,0.181818,0.074074,Boca Raton
4,5759.0,South Gate Ridge,Florida,2018,2,2.0,Townhouse,103.444242,171000.0,220000.0,156.018830,NaN,3.0,3.0,0.333333,NaN,South Gate Ridge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138865,2812.0,Wailuku,Hawaii,2018,2,2.0,Townhouse,378.935410,489375.0,470000.0,382.736156,2.0,2.0,4.0,NaN,0.500000,Wailuku
2138866,1396.0,Petersburg,Virginia,2020,4,1.0,Townhouse,56.962025,63000.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Petersburg
2138867,5109.0,Alamo Heights,Texas,2018,9,1.0,Condo/Co-op,395.395395,790000.0,435000.0,262.903005,NaN,2.0,4.0,1.000000,NaN,Alamo Heights
2138868,3765.0,Riverdale,Illinois,2017,6,1.0,Townhouse,2.641278,4300.0,49900.0,36.407767,1.0,2.0,3.0,NaN,1.000000,Riverdale
2138869,7314.0,Kings Park,Virginia,2017,2,1.0,Townhouse,324.675325,400000.0,525000.0,324.876238,1.0,1.0,2.0,NaN,1.000000,Kings Park

In [55]:
no_id = merge_1[merge_1['city_id'].isnull()]
no_id

,city_id,city,state,year,month,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks,city_2
16,NaN,Carmel Hamlet,New York,2016,6,1.0,Multi-Family (2-4 Unit),87.109126,273000.0,289900.0,170.235042,NaN,1.0,1.0,1.000000,NaN,Carmel Hamlet
17,NaN,Winslow,Maine,2021,10,2.0,Multi-Family (2-4 Unit),75.755279,148950.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Winslow
47,NaN,Kailua-Kona,Hawaii,2016,11,6.0,Single Family Residential,374.755156,700000.0,534900.0,447.705041,1.0,11.0,56.0,0.178571,0.000000,Kailua-Kona
67,NaN,St. Clair,Michigan,2020,6,16.0,Single Family Residential,143.680099,223000.0,257400.0,144.831146,16.0,24.0,24.0,0.458333,0.750000,Saint Clair
125,NaN,South Sanford,Maine,2020,8,10.0,Single Family Residential,164.555901,275500.0,259900.0,162.437500,7.0,11.0,20.0,NaN,0.857143,South Sanford
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138777,NaN,West St. Paul,Minnesota,2018,12,16.0,Single Family Residential,150.128083,224500.0,223750.0,140.864038,11.0,3.0,17.0,0.117647,0.181818,West Saint Paul
2138780,NaN,St. Joseph,Michigan,2023,7,2.0,Condo/Co-op,297.118592,469000.0,279900.0,224.900000,2.0,3.0,3.0,0.333333,0.500000,Saint Joseph
2138847,NaN,St. Augustine Shores,Florida,2019,4,18.0,Single Family Residential,149.456522,235000.0,258900.0,148.948014,9.0,31.0,61.0,0.262295,0.444444,Saint Augustine Shores
2138851,NaN,Providence,Texas,2022,11,10.0,Single Family Residential,199.771753,330000.0,369000.0,156.173945,5.0,6.0,60.0,0.516667,0.000000,Providence
2138853,NaN,Templeton 01468,Massachusetts,2021,7,1.0,Townhouse,146.341463,270000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Templeton 01468

In [56]:
no_id= no_id.drop(columns=['city_id', 'city'])

In [57]:
merge_2= pd.merge(left=city, right=no_id, how="inner", left_on=['city', 'state'], right_on=['city_2', 'state'])
merge_2 = merge_2.drop(columns=['city_2'])
merge_2

,city_id,city,state,year,month,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks
0,22,Saint Louis,Missouri,2016,8,442.0,Single Family Residential,102.342974,156700.0,140000.0,101.676647,NaN,493.0,1510.0,0.309272,0.170732
1,22,Saint Louis,Missouri,2017,11,47.0,Condo/Co-op,136.000000,183000.0,135000.0,101.951087,NaN,54.0,250.0,0.236000,0.096774
2,22,Saint Louis,Missouri,2016,8,58.0,Multi-Family (2-4 Unit),45.662353,112600.0,140000.0,101.676647,NaN,65.0,246.0,0.154472,0.170732
3,22,Saint Louis,Missouri,2022,9,47.0,Multi-Family (2-4 Unit),90.318648,216000.0,188950.0,135.198158,NaN,88.0,168.0,0.244048,0.557692
4,22,Saint Louis,Missouri,2017,11,61.0,Multi-Family (2-4 Unit),47.909408,127500.0,135000.0,101.951087,NaN,58.0,219.0,0.200913,0.137931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22666,38960,Marathon,Wisconsin,2023,2,1.0,Single Family Residential,108.462623,307600.0,389000.0,150.425367,NaN,1.0,4.0,NaN,NaN
22667,38960,Marathon,Wisconsin,2020,7,8.0,Single Family Residential,93.636364,208000.0,257400.0,95.348421,6.0,2.0,7.0,0.142857,0.000000
22668,38960,Marathon,Wisconsin,2021,12,1.0,Single Family Residential,117.857143,198000.0,322000.0,105.352236,NaN,2.0,7.0,0.142857,NaN
22669,38960,Marathon,Wisconsin,2020,9,4.0,Single Family Residential,71.378075,207000.0,116900.0,111.495536,2.0,3.0,7.0,0.142857,0.000000
22670,38960,Marathon,Wisconsin,2018,6,1.0,Single Family Residential,109.085648,188500.0,187900.0,74.682035,1.0,3.0,5.0,NaN,0.000000

In [58]:
merge_1 = merge_1.dropna(subset=['city_id'])
merge_1 = merge_1.drop(columns=['city_2'])

In [59]:
sales = pd.concat([merge_1, merge_2], ignore_index=True).drop_duplicates(subset=['city_id', 'property_type', 'year', 'month'])
sales['city_id'] = sales['city_id'].astype(int)

In [60]:
sales

,city_id,city,state,year,month,homes_sold,property_type,median_ppsf,median_sale_price,median_list_price,median_list_ppsf,pending_sales,new_listings,inventory,price_drops,off_market_in_two_weeks
0,4422,Greenville,Rhode Island,2022,10,11.0,Single Family Residential,233.569588,362500.0,314900.0,251.332360,5.0,3.0,13.0,0.076923,0.000000
1,12828,Advance,North Carolina,2018,7,1.0,Townhouse,50.516224,137000.0,173450.0,92.932642,NaN,2.0,4.0,0.250000,NaN
2,15884,White,Georgia,2021,3,1.0,Condo/Co-op,115.495669,240000.0,NaN,NaN,1.0,NaN,NaN,NaN,1.000000
3,496,Boca Raton,Florida,2019,8,45.0,Townhouse,169.263837,280000.0,386244.0,211.693381,27.0,56.0,198.0,0.181818,0.074074
4,5759,South Gate Ridge,Florida,2018,2,2.0,Townhouse,103.444242,171000.0,220000.0,156.018830,NaN,3.0,3.0,0.333333,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2067316,38960,Marathon,Wisconsin,2023,2,1.0,Single Family Residential,108.462623,307600.0,389000.0,150.425367,NaN,1.0,4.0,NaN,NaN
2067317,38960,Marathon,Wisconsin,2020,7,8.0,Single Family Residential,93.636364,208000.0,257400.0,95.348421,6.0,2.0,7.0,0.142857,0.000000
2067318,38960,Marathon,Wisconsin,2021,12,1.0,Single Family Residential,117.857143,198000.0,322000.0,105.352236,NaN,2.0,7.0,0.142857,NaN
2067319,38960,Marathon,Wisconsin,2020,9,4.0,Single Family Residential,71.378075,207000.0,116900.0,111.495536,2.0,3.0,7.0,0.142857,0.000000
2067320,38960,Marathon,Wisconsin,2018,6,1.0,Single Family Residential,109.085648,188500.0,187900.0,74.682035,1.0,3.0,5.0,NaN,0.000000

In [61]:
sales.info(verbose=True, show_counts=True)
sales = sales.drop(columns=['city', 'state'])

<class 'pandas.core.frame.DataFrame'>
Index: 2040412 entries, 0 to 2067320
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   city_id                  2040412 non-null  int32
 1   city                     2040412 non-null  object
 2   state                    2040412 non-null  object
 3   year                     2040412 non-null  int32
 4   month                    2040412 non-null  int32
 5   homes_sold               2037413 non-null  float64
 6   property_type            2040412 non-null  object
 7   median_ppsf              2008724 non-null  float64
 8   median_sale_price        2037050 non-null  float64
 9   median_list_price        1672166 non-null  float64
 10  median_list_ppsf         1667220 non-null  float64
 11  pending_sales            1611467 non-null  float64
 12  new_listings             1668642 non-null  float64
 13  inventory                1839387 non-null  float64
 14  price_drops              1151192 non-null  float64
 15  off_market_in_two_weeks  1652174 non-null  float64
dtypes: float64(10), int32(3), object(3)
memory usage: 241.3+ MB

In [62]:
sales.to_csv("cleaned/homesales.csv", index = False)